@model ProductResponse

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-12">
        <form method="post" action="/Product/Edit">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label class="control-label">ProductID</label>
                <input class="form-control" type="text" name="id" value="@Model.ProductId" readonly />
            </div>
            <div class="form-group">
                <label class="control-label">ProductName</label>
                <input class="form-control" type="text" name="ProductName" value="@Model.ProductName" />
            </div>
            <div class="form-group">
                <label class="control-label">Category</label>
                <select class="form-control" name="CategoryId" id="category_id">
                    @foreach (var item in ViewBag.categories)
                    {
                        <option value="@item.CategoryId">@item.CategoryName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">UnitsInStock</label>
                <input class="form-control" type="text" name="UnitsInStock" value="@Model.UnitsInStock" />
            </div>
            <div class="form-group">
                <label class="control-label">UnitPrice</label>
                <input class="form-control" type="text" name="UnitPrice" value="@Model.UnitPrice" />
            </div>
            <div class="form-group pt-3">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    document.getElementById('category_id').value = @Model.CategoryId
</script>