@page
@model eStoreClient.Pages.Orders.DetailsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "OrderDetails";
    int index = 1;
}

<h1>Order details</h1>

<table class="table">
    <thead>
        <tr>
            <th>No</th>
            <th>OrderId</th>
            <th>Product</th>
            <th>UnitPrice</th>
            <th>Quantity</th>
            <th>Discount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.orderDetails)
        {
            <tr>
                <td>@(index)</td>
                <td hidden>@(index++)</td>

                <td>@item.OrderId</td>
                @foreach (var p in Model.products)
                {
                    if (item.ProductId == p.ProductId)
                    {
                        <td>@p.ProductName</td>
                    }
                }
                <td>$@item.UnitPrice</td>
                <td>@item.Quantity</td>
                <td>@item.Discount</td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-page="Index">Back to List</a>
</div>
