@page
@model eStoreClient.Pages.Products.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "ListProducts";
    int index = 1;
}

<h1>List Products</h1>

<div class="row">

    <div class="col-12">
        <div class="form-inline">
            <form method="get">
                <input id="search-product-name" asp-for="SearchString" class="form-control" placeholder="Search here!" />
                <div class="pt-2 pb-4"><input type="submit" class="btn bg-primary text-white" value="Search" /></div>
            </form>
        </div>
        <div class="d-flex justify-content-start">
            <p>
                <a asp-page="Create">New Product</a>
            </p>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>ProductName</th>
                    <th>Category</th>
                    <th>Weight</th>
                    <th>UnitPrice</th>
                    <th>UnitsInStock</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.listProducts)
                {
                    <tr>
                        <td>@(index)</td>
                        <td hidden>@(index++)</td>
                        <td>@item.ProductName</td>
                        @foreach (var cat in Model.listCategories)
                        {
                            if (item.CategoryId == cat.CategoryId)
                            {
                                <td>@cat.CategoryName</td>
                            }
                        }
                        <td>@item.Weight</td>
                        <td>@item.UnitPrice</td>
                        <td>@item.UnitsInStock</td>
                        <td class="d-flex">
                            <a style="padding-left: 5px; padding-right: 5px; text-decoration: none;" asp-page="Edit" asp-route-id="@item.ProductId">Edit </a> |
                            <a style="padding-left: 5px; padding-right: 5px; text-decoration: none;" asp-page="Details" asp-route-id="@item.ProductId">Details </a> |
                            <form method="post">
                                <button style="border: none; background: #ffffff; padding-left: 5px; color: red;" type="submit" class="text-decoration-none" asp-page-handler="DeleteProduct" asp-route-id="@item.ProductId">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
